#root {

  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 100vh;
}

.app {
  width: calc(100% - 10px);
  padding: 5px;
}

.app-block{
  width: calc(100% - 20px);
  padding: 10px;
}

.block {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
  
}
.shadow{
  
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.text-name {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}

.contact {
  font-size: 20px;
}

.block-back {
  margin-top: 8px;
  margin-right: 20px;
  padding: 0;
  width: 30px;
  height: 30px;
  display: inline;
  float: inline-start;
  border: 0;
  background-image: url("./pngs/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(240, 248, 255, 0);
}

.block-close {
  margin-top: 10px;
  margin-right: 10px;
  padding: 0;
  width: 20px;
  height: 20px;
  float: inline-end;
  border: 0;
  background-image: url("./pngs/close.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(240, 248, 255, 0);
}

.block-header {
  font-weight: 500;
  display: flex;
  width: max-content;
  padding-left: 10px;
  margin: 0;
}

.block-main-text {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.text {
  font-weight: 600;
  font-size: 17px;
  width: calc(100% - 40px);
  padding: 20px;
  background-color: bisque;
}

.block-under-header {
  width: max-content;
  padding-left: 10px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.price {
  float: right;
  margin-right: 15px;
}

.color {
  background-color: #e2e5ee;
}

.block-photo {
  width: calc(100% - 20px);
  border-radius: 5px;
  margin: 10px;
}

.image {
  background-color: #e2e5ee;
  margin-bottom: 10px;
}

.blcok-button {
  width: calc(100% - 20px);
  height: 55px;
  border-radius: 5px;
  border: 0;
  font-size: 25px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  background-color: bisque;
  color: black;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-shadow: 1px 1px 4px #b39b7fa4;
}

.select {
  width: calc(100% - 40px);
  background-color: bisque;
  margin: 10px;
  border-radius: 5px;
}

.semi {
  width: calc(50% - 20px);
}

.mb15 {
  margin-bottom: 15px;
}

.mt25 {
  margin-top: 25px;
}

.mh250{
  height: 790px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  margin-top: 30px;

  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.footer{
  font-family: "Manrope", sans-serif;
  color: gray;
  font-weight: 200;
  font-size: 23px;
  padding-left: 22px;
  
  margin: 0;
}
.contact-a {
  float: inline-end;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(60deg);
  }

  20% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.black {

  font-family: "Manrope", sans-serif;
  background-color: black;
  color: aliceblue;
  font-weight: 700;
  font-size: 20px;
}